.topbar {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 16px 0;
  margin-bottom: 27.5px;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: white;
  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.7vw;
    padding-right: 2.7vw;

    span {
      visibility: hidden;
      position: relative;
      z-index: 100;
    }

    .chocolate {
      height: 40px;
      width: 40px;
      height: 30px;
      width: 30px;
      position: relative;
      z-index: 100;
      cursor: pointer;
    }

    .block {
      width: 33.3333%;
      height: 33.3333%;
      padding: 9.5%;
      position: absolute;

      .color {
        height: 100%;
        width: 100%;
        background-color: black;
      }
    }
  }
}

main {
  position: relative;
  z-index: 1;
  background-color: white;
}

@media screen and (min-width: 1200px) {
  .topbar {
    .container {
      .chocolate {
        height: 32px;
        width: 32px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .topbar {
    padding: 22px 0;
    background-color: unset;
  }
}

@media screen and (min-width: 1350px) {
  .topbar {
    .container {
      .chocolate {
        height: 34px;
        width: 34px;
      }
    }
  }
}
