.topbar {
  font-size: 1.25rem;
  margin-top: 2.6vw;
  margin-top: 35px;
  margin-bottom: 3.8vw;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1666px) {
  .topbar {
    font-size: 1.25vw;
  }
}
