.topbar {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 2.6vw;
  margin-bottom: 2.9vw;
  font-size: 1.25rem;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}

.topbar * {
  font-weight: 500;
}

@media screen and (max-width: 1799px) {
  .topbar {
    font-size: 22.5px;
  }
}

@media screen and (max-width: 1500px) {
  .topbar {
    margin-bottom: 43.5px;
  }
}
@media screen and (max-width: 1266px) {
  .topbar {
    font-size: 20px;
  }
}

@media screen and (max-width: 975px) {
  .topbar {
    margin-top: 25.35px;
    // margin-bottom: 28.275px;
    // font-size: 1rem;
  }
}

@media screen and (min-width: 1800px) {
  .topbar {
    font-size: 1.25vw;
  }
}
