.outer-container {
  // width: 100vw;
  overflow: hidden;
  height: max-content;
  left: 0;
  position: relative;
  margin-bottom: 20vw;

  .image-title-container {
    width: max-content;
    position: absolute;
    margin-left: 11.5vw;
    z-index: 5;
    pointer-events: none;

    p {
      color: white;
      width: 100%;
      text-shadow: 1px 1px 8px hsla(0, 0%, 20%, 1);
      margin: 0;
      line-height: 1;
      font-size: 4.6vw;
    }
  }

  .counter {
    position: absolute;
    bottom: 0;
    z-index: 2;
    pointer-events: none;

    span {
      position: absolute;
      right: 0.8em;
      bottom: 0.5em;
      color: white;
      text-shadow: 1px 1px 8px hsla(0, 0%, 20%, 1);
      font-size: 28px;
    }
  }

  .image-menu {
    position: absolute;
    display: flex;
    flex-flow: row no-wrap;

    .image-item {
      padding-left: 0.1vw;
      padding-right: 0.1vw;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: rgb(132, 132, 132) 0.01vw solid;
      }

      .overlay-container {
        padding-left: 0.1vw;
        padding-right: 0.1vw;
        position: absolute;
        height: 30%;
        pointer-events: none;
        left: 0;
        z-index: 2;

        .overlay {
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0deg,
            rgb(0 0 0 / 0%) 0%,
            rgb(0 0 0 / 30%) 100%
          );
        }
      }

      .view {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0.5em;
        left: 0.8em;
        font-size: 28px;
        font-weight: 500;
        text-shadow: 1px 1px 8px hsla(0, 0%, 20%, 1);
        text-decoration: none;
        color: white;
        transition: left 0.25s ease;

        &:hover {
          left: 1em;
        }

        // .arrow-right {
        //   box-shadow: 1px 1px 8px hsla(0, 0%, 20%, 1);
        // }
      }
    }
  }
}

.image-item {
  display: inline-block;
  height: 100%;
  width: 7.1428571429%;
}

// *******************
// TITLE MEDIA QUERIES
// *******************

// 6 narrow widths
@media screen and (min-width: 0px) {
  .outer-container {
    .image-title-container {
      margin-left: 4vw;
      top: 8vw;
      width: 90vw;
      p {
        font-size: 12vw;
      }
    }
    .counter {
      span {
        font-size: 35px;
        right: 2.6vw;
        bottom: 2.2vw;
      }
    }
    .image-menu {
      .image-item {
        .view {
          bottom: 2.2vw;
        }
      }
    }
  }
}

// 7 narrow widths
@media screen and (min-width: 400px) {
  .outer-container {
    .image-title-container {
      top: 4vw;
      width: 90vw;
      margin-left: 3vw;

      p {
        font-size: 9vw;
      }
    }
  }
}

// 8 narrow widths
@media screen and (min-width: 457px) {
  .outer-container {
    .image-title-container {
      width: 91vw;
      width: 416.773px;

      p {
        font-size: 43px;
      }
    }
  }
}

// 9 narrow widths
@media screen and (min-width: 514px) {
  .outer-container {
  }
}

// 10 narrow widths
@media screen and (min-width: 571px) {
  .outer-container {
    width: unset;
    .image-title-container {
      width: 74vw;

      p {
        font-size: 46px;
      }
    }
  }
}

// 11 narrow widths
@media screen and (min-width: 628px) {
  .outer-container {
    .image-title-container {
      width: 65vw;

      p {
        font-size: 8vw;
      }
    }
    .counter {
      span {
        font-size: 40px;
        right: 1.8vw;
        bottom: 1.4vw;
      }
    }
    .image-menu {
      .image-item {
        .view {
          bottom: 1.4vw;
        }
      }
    }
  }
}

@media screen and (min-width: 685px) {
  .outer-container {
    .image-title-container {
      width: 65vw;

      p {
        font-size: 6.5vw;
      }
    }
  }
}

// 13 narrow widths
@media screen and (min-width: 742px) {
  .outer-container {
    .image-title-container {
      margin-left: 22px;
      top: 30px;
      p {
        font-size: 50px;
      }
    }
  }
}

// 14 narrow widths
@media screen and (min-width: 800px) {
  .outer-container {
    .image-title-container {
      width: 55vw;
      p {
        font-size: 50px;
      }
    }
  }
}

@media screen and (min-width: 831px) {
  .outer-container {
    margin-left: 4vw;
  }
}

@media screen and (min-width: 931px) {
  .outer-container {
    margin-left: 8vw;
    .image-title-container {
      width: 520px;
    }
  }
}

@media screen and (min-width: 1146px) {
  .outer-container {
    margin-left: 10vw;
  }
}

@media screen and (min-width: 1200px) {
  .outer-container {
    .image-title-container {
      width: 539px;
      p {
        font-size: 60px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .outer-container {
    .image-title-container {
      width: 38.5vw;
      margin-left: 1.571vw;
      p {
        font-size: 4.214vw;
      }
    }
    .counter {
      span {
        font-size: 2.24vw;
        right: 1.2vw;
      }
    }
  }
}

@media screen and (min-width: 1780px) {
  .outer-container {
    .image-title-container {
      width: 685px;
      margin-left: 28px;
      p {
        font-size: 75px;
      }
    }
    .counter {
      span {
        font-size: 40px;
        right: 21.34px;
      }
    }
  }
}
@media screen and (min-width: 2321px) {
  .outer-container {
    .image-title-container {
      width: 28.33vw;
      margin-left: 1.206vw;

      p {
        font-size: 3.1vw;
      }
    }
    .counter {
      span {
        font-size: 1.72vw;
        right: 0.91vw;
      }
    }
  }
}
