.outer-container {
  width: 100vw;
  height: max-content;
  left: 0;
  position: relative;
  margin-bottom: 10vw;

  .mobile-menu-item-title-container {
    width: max-content;
    position: absolute;
    margin-left: 11.5vw;
    z-index: 5;
    pointer-events: none;

    p {
      color: white;
      width: 100%;
      text-shadow: 1px 1px 8px hsla(0, 0%, 20%, 1);
      margin: 0;
      line-height: 1;
      font-size: 4.6vw;
    }
  }

  .view-artpiece-button {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    color: rgb(71, 71, 71);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.344);
    width: 14vw;
    height: 18vw;
    bottom: 10vw;
    right: 5.5vw;
    transform: rotate(90deg);
    z-index: 1;

    .arrow {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 6vw;
      height: 6vw;
      transform: translate(-50%, -50%) rotate(-80deg);
    }
  }

  .mobile-image-menu {
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin-left: 10vw;

    .image-item {
      padding-left: 0.1vw;
      padding-right: 0.1vw;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: rgb(132, 132, 132) 0.01vw solid;
      }

      .overlay-container {
        padding-left: 0.1vw;
        padding-right: 0.1vw;
        position: absolute;
        height: 80%;
        pointer-events: none;
        left: 0;
        z-index: 2;

        .overlay {
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0deg,
            rgb(0 0 0 / 0%) 0%,
            rgb(0 0 0 / 30%) 100%
          );
        }
      }
    }
  }
}

.image-item {
  display: inline-block;
  // padding-left: 0.2vw;
  // padding-right: 0.2vw;
  height: 100%;
  width: 7.1428571429%;
}

@media screen and (max-width: 1145px) {
  .outer-container {
    .mobile-image-menu {
      margin-left: 8vw;
    }

    .mobile-menu-item-title-container {
      margin-left: 10.5vw;
    }
  }
}
@media screen and (max-width: 930px) {
  .outer-container {
    .mobile-image-menu {
      margin-left: 4vw;
    }

    .mobile-menu-item-title-container {
      margin-left: 6.5vw;
    }
  }
}
@media screen and (max-width: 830px) {
  .outer-container {
    .mobile-image-menu {
      margin-left: 3vw;
    }
  }
}

@media screen and (max-width: 741px) {
  .outer-container {
    .mobile-image-menu {
      margin-left: 0;
    }
  }
}

// *******************
// TITLE MEDIA QUERIES
// *******************

// 6 narrow widths
@media screen and (min-width: 0px) {
  .outer-container {
    .mobile-menu-item-title-container {
      margin-left: 4vw;
      top: 8vw;
      width: 90vw;
      .mobile-menu-item-title {
        font-size: 12vw;
      }
    }
    .view-artpiece-button {
      font-size: 4.1vw;
      // top: 55vw;
      bottom: 4vw;
    }
  }
}

// 7 narrow widths
@media screen and (min-width: 400px) {
  .outer-container {
    .mobile-menu-item-title-container {
      top: 4vw;
      width: 90vw;
      margin-left: 3vw;

      .mobile-menu-item-title {
        font-size: 9vw;
      }
    }
    .view-artpiece-button {
      font-size: 3.7vw;
      bottom: 1.4vw;
    }
  }
}

// 8 narrow widths
@media screen and (min-width: 457px) {
  .outer-container {
    .mobile-menu-item-title-container {
      width: 91vw;
      width: 416.773px;

      .mobile-menu-item-title {
        font-size: 9vw;
        font-size: 43px;
      }
    }

    .view-artpiece-button {
      // font-size: 3.2vw; no text
      width: 63px;
      height: 81px;
      .arrow {
        width: 27.3px;
        height: 27.3px;
      }
    }
  }
}

// 9 narrow widths
@media screen and (min-width: 514px) {
  .outer-container {
    .mobile-menu-item-title-container {
      // width: 82vw;

      .mobile-menu-item-title {
        // font-size: 9vw;
      }
    }
    .view-artpiece-button {
      // font-size: 2.8vw; no text
      width: 63px;
      height: 81px;
    }
  }
}

// 10 narrow widths
@media screen and (min-width: 571px) {
  .outer-container {
    width: unset;
    .mobile-menu-item-title-container {
      width: 74vw;

      .mobile-menu-item-title {
        font-size: 46px;
      }
    }
    .view-artpiece-button {
      font-size: 2.5vw;
    }
  }
}

// 11 narrow widths
@media screen and (min-width: 628px) {
  .outer-container {
    .mobile-menu-item-title-container {
      width: 65vw;

      .mobile-menu-item-title {
        font-size: 8vw;
      }
    }
    .view-artpiece-button {
      font-size: 2.3vw;
      bottom: 1.3vw;
      left: 4vw;
    }
  }
}

@media screen and (min-width: 685px) {
  .outer-container {
    .mobile-menu-item-title-container {
      width: 65vw;

      .mobile-menu-item-title {
        font-size: 6.5vw;
      }
    }
    .view-artpiece-button {
      font-size: 2.1vw;
      bottom: 1.3vw;
      left: 2.8vw;
    }
  }
}

// 13 narrow widths
@media screen and (min-width: 742px) {
  .outer-container {
    .mobile-menu-item-title-container {
      margin-left: 5vw;
    }
    .view-artpiece-button {
      font-size: 2vw;
      bottom: 1vw;
      left: 6vw;
    }
  }
}

// 14 narrow widths
@media screen and (min-width: 800px) {
  .outer-container {
    .mobile-menu-item-title-container {
      width: 55vw;

      .mobile-menu-item-title {
        font-size: 6vw;
      }
    }

    .view-artpiece-button {
      font-size: 1.9vw;
      bottom: 0.8vw;
      left: 5vw;
    }
  }
}

@media screen and (min-width: 831px) {
  .outer-container {
    .mobile-menu-item-title-container {
      margin-left: 6vw;
    }
    .view-artpiece-button {
      font-size: 1.8vw;
      bottom: 0.9vw;
      left: 6vw;
    }
  }
}

@media screen and (min-width: 931px) {
  .outer-container {
    .mobile-menu-item-title-container {
      margin-left: 10vw;
      font-size: 55.86px;
      width: 520px;
    }
    .view-artpiece-button {
      font-size: 16px;
      bottom: 10px;
      left: 10vw;
    }
  }
}

// 17 narrow widths
// @media screen and (min-width: 971px) {
//   .outer-container {
//     .mobile-menu-item-title-container {
//       width: 54vw;

//       .mobile-menu-item-title {
//         font-size: 5.8vw;
//       }
//     }
//     .mobile-image-menu {
//       .image-item[data-size='narrow'] {
//         width: 66.5px;
//       }
//       .image-item[data-size='wide'] {
//         width: 265.992px;
//       }
//     }
//   }
// }

@media screen and (min-width: 1146px) {
  .outer-container {
    .mobile-menu-item-title-container {
      margin-left: 12vw;
    }
  }
}
@media screen and (min-width: 1200px) {
  .outer-container {
    .mobile-menu-item-title-container {
      width: 539px;

      .mobile-menu-item-title {
        font-size: 59px;
      }
    }
  }
}
