.bio {
  .container {
    margin: auto;
    margin-top: 30vh;
    padding-bottom: 300px;
    max-width: 800px;
    margin-left: 2.7vw;
    margin-right: 2.7vw;

    h1 {
      font-size: 130px;
      margin-bottom: 50px;
    }
  }
}

@media screen and (min-width: 900px) {
  .bio {
    .container {
      margin: 30vh 10vw 0;
    }
  }
}

@media screen and (min-width: 2200px) {
  .bio {
    .container {
      margin: 30vh 13vw 0;
    }
  }
}
