.collection {
  font-size: 1rem;
  margin-top: 90px;
  margin-bottom: 5vw;

  .container {
    display: flex;
    flex-direction: column;

    .image {
      width: 100%;
      height: 83vh;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        // object-position: bottom;
      }
    }

    .info {
      margin: 41px 5vw 0;
      position: relative;

      .wrapper {
        padding-left: 0;

        .title {
          width: 8em;
          font-size: 9vw;
          margin-bottom: 0.55em;
        }

        .description {
          p {
            text-align: justify;
            font-size: 0.9em;
            font-size: 1em;
            color: var(--secondary-color);
            margin-bottom: 1.2em;
          }
        }
      }

      .scroll-prompt {
        display: none;
      }
    }
  }
}

// TABLETS

@media screen and (min-width: 480px) {
  .collection {
    .container {
      .info {
        .wrapper {
          .title {
            font-size: 2.7em;
          }
        }
      }
    }
  }
}

// SMALL SCREENS, LAPTOPS - from min-width: 769px

@media screen and (min-width: 900px) {
  .collection {
    margin-top: unset;
    margin-bottom: unset;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      flex-direction: row;
      margin: 0 2.7vw;
      flex-grow: 1;

      .image {
        flex-basis: 50%;
        height: max-content;
        display: flex;
        justify-content: flex-end;
      }

      .info {
        margin: 0 31px;
        flex-basis: 50%;
        display: flex;
        align-items: center;

        .wrapper {
          .title {
            font-size: 2.3em;
          }
          .description {
            p {
              margin-right: 0;
            }
            p:last-child {
              margin-bottom: 0;
            }
          }
        }

        .scroll-prompt {
          position: absolute;
          bottom: 0;
          max-width: 500px;
          display: flex;
          justify-content: flex-end;
          width: 100%;

          .wrapper {
            display: flex;
            align-items: center;

            svg {
              height: 1.2em;
              width: 1.2em;
              margin-bottom: 0.2em;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 936px) {
  .collection {
    .container {
      flex-direction: row;
      margin: 0 2.7vw;

      .image {
        flex-basis: 50%;
        height: max-content;
        display: flex;
        justify-content: flex-end;
        img {
          width: 411px;
          height: 619%;
          height: auto;
        }
      }
      .info {
        .wrapper {
          max-width: 500px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .collection {
    .container {
      margin: 0 5.7vw;
      .info {
        .wrapper {
          .description {
            font-size: 1em;
          }
        }
      }
    }
  }
}

// 1440 macbook 13 inch

@media screen and (min-width: 1440px) {
  .collection {
    .container {
      .image {
        img {
          width: 68%;
        }
      }
      .info {
        .wrapper {
          .title {
            font-size: 2.6em;
          }
          .description {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  .collection {
    .container {
      .info {
        .wrapper {
          .title {
            font-size: 3em;
          }
          .description {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2200px) {
  .collection {
    .container {
      .image {
        img {
          width: 641px;
          // height: 964px;
        }
      }
      .info {
        .wrapper {
          .title {
            font-size: 3.5em;
          }
        }
      }
    }
  }
}
