.cv {
  .wrapper {
    margin: auto;
    margin-top: 30vh;
    padding-bottom: 300px;
    max-width: 800px;
    margin-left: 2.7vw;
    margin-right: 2.7vw;

    h1 {
      font-size: 130px;
      margin-bottom: 50px;
    }
    h2 {
      margin-bottom: 20px;
      // border-bottom: 1px rgb(232, 232, 232) solid;
    }

    ul {
      list-style-type: none;
      margin-bottom: 60px;
      padding: 0;
      li {
        display: block;
        line-height: 1.6;

        &:not(:last-child) {
          margin-bottom: 0.6em;
        }

        span {
          color: rgb(139, 139, 139);
          font-style: italic;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .cv {
    .wrapper {
      margin: 30vh 10vw 0;
    }
  }
}

@media screen and (min-width: 2200px) {
  .cv {
    .wrapper {
      margin: 30vh 13vw 0;
    }
  }
}
