.cv {
  .wrapper {
    margin: auto;
    margin-top: 14svh;
    padding-bottom: 300px;
    max-width: 800px;
    margin-left: 2.7vw;
    margin-right: 2.7vw;

    h1 {
      font-size: 15vw;
      margin-bottom: 50px;
    }
    h2 {
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      margin-bottom: 60px;
      padding: 0;
      li {
        display: block;
        line-height: 1.6;

        &:not(:last-child) {
          margin-bottom: 0.6em;
        }

        span {
          color: rgb(139, 139, 139);
          font-style: italic;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .cv {
    .wrapper {
      h1 {
        font-size: 90px;
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .cv {
    .wrapper {
      margin: 14vh 10vw 0;

      h1 {
        font-size: 100px;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .cv {
    .wrapper {
      margin: 20vh 10vw 0;
      h1 {
        font-size: 110px;
      }
    }
  }
}

@media screen and (min-width: 2200px) {
  .cv {
    .wrapper {
      margin: 20vh 13vw 0;

      h1 {
        font-size: 130px;
      }
    }
  }
}
