.collection {
  // max-width: 2000px;
  margin: auto;
  padding-left: 15vw;
  padding-right: 15vw;
}

.header {
  display: flex;
}

.image {
  width: 50%;
  height: auto;
}

.titleInfo {
  /* background-color: blue; */
  width: 100%;
}

.wrapper {
  margin-top: 30vh;
}

.collectionDate,
.collectionTitle {
  margin-left: 3vw;
}

.collectionDate {
  font-size: 2.5vw;
  margin-bottom: 10px;
}

.collectionTitle {
  width: 100%;
  font-size: 4.6vw;
}

.arrowDownContainer {
  width: 100%;
  height: 13vw;
  /* background-color: red; */
  position: relative;
}

.arrowDownIcon {
  width: 6vw;
  height: 6vw;
  position: absolute;
  left: 40%;
  bottom: 0;
  transform: translateX(-50%);
}

.description {
  width: 85%;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.description p {
  color: var(--secondary-color);
  font-size: 1.4vw;
  font-weight: 500;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    margin-top: 65%;
  }
}
