.collection {
  margin: auto;
  // margin-left: 15vw;
  // margin-right: 15vw;
  margin-left: 5vw;
  margin-right: 5vw;

  .header {
    display: flex;

    img {
      width: 37%;
      height: auto;
    }

    .title-info {
      width: 100%;

      .wrapper {
        width: 100%;
        margin-top: 42%;

        .date,
        .title {
          padding-left: 3vw;
        }

        .date {
          font-size: 2.5vw;
          margin-bottom: 10px;
        }

        .title {
          width: 70%;
          font-size: 4.5vw;
        }
      }
    }
  }

  .description {
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 8vw;

    p {
      color: var(--secondary-color);
      font-size: 1.4vw;
      font-weight: 500;
    }
  }
}

// MEDIA QUERIES

@media screen and (max-width: 1440px) {
  .collection {
    .header {
      img {
        width: 479.516px;
      }
      .title-info {
        .wrapper {
          margin-top: 342.922px;
          .date {
            font-size: 36px;
          }
          .title {
            font-size: 64.8px;
            width: 571.539px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1165px) {
  .collection {
    // margin-left: 0;
    .description {
      margin-right: 5vw;
    }
  }
}

@media screen and (max-width: 1143px) {
  .collection {
    .description {
      p {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  .collection {
    .header {
      img {
        width: 42.435vw;
      }
      .title-info {
        .wrapper {
          margin-top: 30.347vw;
          .date {
            font-size: 3.186vw;
          }
          .title {
            font-size: 5.735vw;
            width: 50.579vw;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 1030px) {
//   .collection {
//     margin-right: 0;
//     .header {
//       flex-direction: column;

//       img {
//         width: 333.5px;
//         width: 90vw;
//       }
//       .title-info {
//         .wrapper {
//           margin-top: 40px;

//           .date {
//             font-size: 30.682px;
//           }
//           .title {
//             width: 471.256px;
//             font-size: 51.646px;
//           }
//         }
//       }
//     }
//     .description {
//       margin-bottom: 40px;
//     }
//   }
// }

@media screen and (max-width: 700px) {
  .collection {
    .description {
      margin-left: 3.5vw;
      margin-right: 3.5vw;
    }
  }
}

@media screen and (max-width: 666px) {
  .collection {
    margin-right: 0;
    .header {
      flex-direction: column;

      img {
        width: 333.5px;
      }
      .title-info {
        .wrapper {
          margin-top: 40px;

          .date {
            font-size: 30.682px;
          }
          .title {
            width: 471.256px;
            font-size: 51.646px;
          }
        }
      }
    }
    .description {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 469px) {
  .collection {
    .header {
      .title-info {
        .wrapper {
          .date {
            font-size: 6.542vw;
          }
          .title {
            width: 100vw;
            font-size: 11.012vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 333.5px) {
  .collection {
    margin-right: 0;
    .header {
      img {
        width: 100%;
      }
      .title-info {
        // width: 52.501vw;
        width: 100%;

        .wrapper {
          margin-top: 40px;

          .date {
            font-size: 6vw;
          }
          .title {
            width: 100vw;
            font-size: 11.8vw;
          }
        }
      }
    }
  }
}
