@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNext-Medium.woff2') format('woff2'),
    url('../fonts/AvenirNext-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
    url('../fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: 350;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
    url('../fonts/AvenirNext-DemiBold.woff') format('woff');
  font-weight: 600;
}

/* @font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Medium.woff2') format('woff2'),
    url('../fonts/Avenir-Medium.woff') format('woff');
  font-weight: 500;
} */
